doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title Sign In
        style.
            .error {
                color: red;
                font-weight: bold;
            }
    body
        form(method="POST")
            div.error 
                | #{errorMessage || ''}
            div
                input(type="email" id=emailField name=emailField placeholder=emailField autocomplete=emailField)
                input(type="password" id=passwordField name=passwordField placeholder=passwordField)
                input(type="hidden" id="step" name="step" value="login")
            div 
                button(type="submit")
                    | Submit
